.assignCon {
  background-color: rgb(233, 121, 140);
  height: 100vh;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ChildNB {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navBTNS {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 8px;
  gap: 10px;
  width: 100%;
}

#home {
  width: 100%;
}

#strB {
  margin-top: 10px;
  width: 100%;
}

.ChildNB {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navBTNS img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.homework-section {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.assignment-list,
.teacher-comments {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assignment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.assignment-item h3,
.comment-item h3 {
  margin: 0;
  color: #333;
}

.assignment-item p,
.comment-item p {
  margin: 5px 0 0;
  color: #555;
}

.assignment-details {
  flex-grow: 1;
}

.upload-label {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn {
  display: none;
  background-color: black;
  color: white;
}

.teacher-comments-section {
margin-top: 20px;
width: 100%;
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher-comments {
list-style-type: none;
padding: 0;
margin: 0;
}

.comment-item {
background-color: #f9f9f9;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
