/* Styling the contents of the page*/
.Contents {
    background-image: url('../../../assets/Images by AJ/chBckgrd.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styling the button to position at the bottom */
  .ButtonCon {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
  }
  
  /* Styling the size of the images */
  #sRB, #bHWB {
    width: 230px;
  }
  