.book-list, p{
    color: black;
}

.book-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .book-cover {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .book-info {
    flex: 1;
  }
  