/* Styling the contents of the page*/
.revCon {
  background-color: rgb(156, 224, 241);
  height: 100vh;
}

/* Styling the button container to stay at the bottom of the content */
.navBTNS {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 60px; /* Add some space between buttons and progress bar */
}

/* Styling button images */
.navBTNS, #strB, #home, #libImg {
  width: 200px;
  vertical-align: middle; 
  display: inline-block;
  margin: 0;
}